<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="mgurnett@gmail.com">
    <title>NHL data</title>

    <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    
<main>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="NHL navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../static/NHL-Logo.png" alt="NHL" width="60" height="48">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/schedule-date">Today's games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/schedule-date">Yesterday's games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/schedule-date">Tomorrow's games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Pacific</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/schedule-team/22">
                <img src="../static/Oilers_48x48.png" alt="Oilers" width="24" height="24">Oilers</a></li>
              <li><a class="dropdown-item" href="/schedule-team/20">
                <img src="../static/Flames_48x48.png" alt="Flames" width="24" height="24">Flames</a></li>
              <li><a class="dropdown-item" href="/schedule-team/23">
                <img src="../static/Canucks_48x48.png" alt="Canucks" width="24" height="24">Canucks</a></li>
              <li><a class="dropdown-item" href="/schedule-team/26">
                <img src="../static/Kings_48x48.png" alt="Kings" width="24" height="24">Kings</a></li>
              <li><a class="dropdown-item" href="/schedule-team/28">
                <img src="../static/Sharks_48x48.png" alt="Sharks" width="24" height="24">Sharks</a></li>
              <li><a class="dropdown-item" href="/schedule-team/55">
                <img src="../static/Kraken_48x48.png" alt="Kraken" width="24" height="24">Kraken</a></li>
              <li><a class="dropdown-item" href="/schedule-team/24">
                <img src="../static/Ducks_48x48.png" alt="Ducks" width="24" height="24">Ducks</a></li>
              <li><a class="dropdown-item" href="/schedule-team/54">
                <img src="../static/Knights_48x48.png" alt="Knights" width="24" height="24">Knights</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Central</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/schedule-team/53">
                <img src="../static/Coyots_48x48.png" alt="Coyots" width="24" height="24">Coyots</a></li>
              <li><a class="dropdown-item" href="/schedule-team/16">
                <img src="../static/Blackhawks_48x48.png" alt="Blackhawks" width="24" height="24">Blackhawks</a></li>
              <li><a class="dropdown-item" href="/schedule-team/21">
                <img src="../static/Avalanche_48x48.png" alt="Avalanche" width="24" height="24">Avalanche</a></li>
              <li><a class="dropdown-item" href="/schedule-team/25">
                <img src="../static/Stars_48x48.png" alt="Stars" width="24" height="24">Stars</a></li>
              <li><a class="dropdown-item" href="/schedule-team/30">
                <img src="../static/Wild_48x48.png" alt="Wild" width="24" height="24">Wild</a></li>
              <li><a class="dropdown-item" href="/schedule-team/18">
                <img src="../static/Predators_48x48.png" alt="Predators" width="24" height="24">Predators</a></li>
              <li><a class="dropdown-item" href="/schedule-team/19">
                <img src="../static/Blues_48x48.png" alt="Blues" width="24" height="24">Blues</a></li>
              <li><a class="dropdown-item" href="/schedule-team/52">
                <img src="../static/Jets_48x48.png" alt="Jets" width="24" height="24">Jets</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Atlantic</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/schedule-team/6">
                <img src="../static/Bruins_48x48.png" alt="Bruins" width="24" height="24">Bruins</a></li>
              <li><a class="dropdown-item" href="/schedule-team/7">
                <img src="../static/Sabers_48x48.png" alt="Sabers" width="24" height="24">Sabers</a></li>
              <li><a class="dropdown-item" href="/schedule-team/17">
                <img src="../static/Red Wings_48x48.png" alt="Red Wings" width="24" height="24">Red Wings</a></li>
              <li><a class="dropdown-item" href="/schedule-team/13">
                <img src="../static/Panthers_48x48.png" alt="Panthers" width="24" height="24">Panthers</a></li>
              <li><a class="dropdown-item" href="/schedule-team/14">
                <img src="../static/Lightning_48x48.png" alt="Lightning" width="24" height="24">Lightning</a></li>
              <li><a class="dropdown-item" href="/schedule-team/10">
                <img src="../static/Maple Leafs_48x48.png" alt="Maple Leafs" width="24" height="24">Maple Leafs</a></li>
              <li><a class="dropdown-item" href="/schedule-team/8">
                <img src="../static/Canadians_48x48.png" alt="Canadians" width="24" height="24">Canadians</a></li>
              <li><a class="dropdown-item" href="/schedule-team/9">
                <img src="../static/Senators_48x48.png" alt="Senators" width="24" height="24">Senators</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Metropolitan</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/schedule-team/3">
                <img src="../static/Rangers_48x48.png" alt="Rangers" width="24" height="24">Rangers</a></li>
              <li><a class="dropdown-item" href="/schedule-team/5">
                <img src="../static/Penguins_48x48.png" alt="Penguins" width="24" height="24">Penguins</a></li>
              <li><a class="dropdown-item" href="/schedule-team/4">
                <img src="../static/Flyers_48x48.png" alt="Flyers" width="24" height="24">Flyers</a></li>
              <li><a class="dropdown-item" href="/schedule-team/12">
                <img src="../static/Huricanes_48x48.png" alt="Huricanes" width="24" height="24">Huricanes</a></li>
              <li><a class="dropdown-item" href="/schedule-team/2">
                <img src="../static/Islanders_48x48.png" alt="Islanders" width="24" height="24">Islanders</a></li>
              <li><a class="dropdown-item" href="/schedule-team/1">
                <img src="../static/Devils_48x48.png" alt="Devils" width="24" height="24">Devils</a></li>
              <li><a class="dropdown-item" href="/schedule-team/15">
                <img src="../static/Capitals_48x48.png" alt="Capitals" width="24" height="24">Capitals</a></li>
              <li><a class="dropdown-item" href="/schedule-team/29">
                <img src="../static/Blue Jackets_48x48.png" alt="Blue Jackets" width="24" height="24">Blue Jackets</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</main>

    <script src="../static/assets/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
