<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>NHL data</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_table.css')}}" />
    </head>
    <body>
        <div class="divTable blueTable">
        <div class="divTableHeading">
        <div class="divTableRow">
        <div class="divTableHead"></div>
        <div class="divTableHead"></div>
        <div class="divTableHead"></div>
        <div class="divTableHead"></div>
        </div>
        </div>
        <div class="divTableBody">
        <div class="divTableRow">
        <div class="divTableCell"><a href="/schedule/22">Oilers schedule</a></div>
        <div class="divTableCell">Today's games</div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        <div class="divTableCell"></div>
        </div>
        </div>
        </div>
        <div class="blueTable outerTableFooter">
        <div class="tableFootStyle">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </div>
        </div>
    </body>
</html>
